.about-wrapper {

    .about-image {
        position: relative;
        max-width: 475px;

        @include breakpoint (max-xl){
           max-width: 900px
        }

        img {
            @include imgw;
        }

        .left-shape {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .about-image-2 {
            position: absolute;
            bottom: 0;
            right: -28%;

            @include breakpoint (max-xl){
                right: 0;
            }

            .title {
                position: absolute;
                right: 0;
                top: -115px;

                @include breakpoint (max-xl){
                   display: none;
                }

                .arrow-image {
                    margin-bottom: 10px;
                    animation: rounded 5s linear infinite;
                }

                h5 {
                    text-transform: uppercase;
                }
            }
        }
    }

    .about-content {
        margin-left: 70px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .about-area {
            @include flex;
            justify-content: space-between;
            margin-top: 25px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 30px;
            }
            
            .about-items {

                .title {
                    @include flex;
                    margin-bottom: 20px;
    
                    .number {
                        position: relative;
                        padding-right: 30px;
                        margin-right: 5px;
                        color: $theme-color;
                        font-size: 18px;
                        font-weight: 700;
                    }
    
                    h5 {
                        position: relative;
    
                        &::before {
                            @include before;
                            width: 23px;
                            height: 2px;
                            display: inline-block;
                            background-color: $theme-color;
                            top: 50%;
                            left: -28px;
                        }
                    }
                }
            }
        }

        .pro-items {
            margin-top: 30px;
            margin-bottom: 30px;

            .pro-head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;

                .title {
                    font-size: 20px;
                    font-weight: 600;
                    color: $header-color;
                }
                
                .point {
                    font-size: 16px;
                    font-weight: 400;
                    color: $header-color;
                }
            }
            .progress {
                background: transparent;
                justify-content: flex-start;
                border-radius: 100px;
                align-items: center;
                position: relative;
                display: flex;
                height: 18px;
                width: 100%;
                border-radius: 0;
                border: 1px solid $border-color;
            }
            
            .progress-value {
                animation: load 3s normal forwards;
                border-radius: 0;
                background: $theme-color;
                height: 10px;
                width: 0;
                border-radius: 0;
            }
            .style-two{
                animation: load2 3s normal forwards;
            }

            .style-three{
                animation: load3 3s normal forwards;
            }

            .style-four{
                animation: load4 3s normal forwards;
            }

            @keyframes load {
                0% { width: 0; }
                100% { width: 80%; }
            }
            @keyframes load2 {
                0% { width: 0; }
                100% { width: 70%; }
            }
            @keyframes load3 {
                0% { width: 0; }
                100% { width: 85%; }
            }
            @keyframes load4 {
                0% { width: 0; }
                100% { width: 90%; }
            }
        }
    }
}

.about-wrapper-2 {
    // @include breakpoint (max-xl){
    //    margin-top: -60px;
    // }

    // @include breakpoint (max-lg){
    //     margin-top: -50px;
    // }
    .about-image {
        position: relative;

        @include breakpoint (max-xl){
           max-width: 900px;

           img {
                @include imgw;
           }
        }

        .about-image-2 {
            position: absolute;
            right: 0;
            bottom: -170px;
            border: 20px solid $white;
            z-index: 9;

            @include breakpoint (max-xl){
                bottom: 0;
            }

            @include breakpoint (max-md){
                max-width: 330px;
            }

            @include breakpoint (max-sm){
                max-width: 230px;
            }
        }

        .border-shape {
            position: absolute;
            left: -68px;
            bottom: -50px;

            @include breakpoint (max-xl){
                display: none;
            }
        }
    }
    .about-content {
        margin-left: 50px;

        @include breakpoint (max-xl){
           margin-left: 0;
        }

        .list-items {
            margin-top: 30px;
            border-bottom: 1px solid #d7d7d7;
            padding-bottom: 40px;

            li {
                font-weight: 600;
                font-size: 18px;
                color: $header-color;

                i {
                    color: $theme-color;
                    margin-right: 10px;
                }

                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
        }

        .about-author {
            @include flex;
            gap: 30px;
            margin-top: 40px;
            justify-content: space-between;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            .author-image {
                @include flex;
                gap: 30px;

                .content {
                    h3 {
                        text-transform: uppercase;
                        font-weight: 500;
                        color: $theme-color;
                    }
                }
                
                .author-img {
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        border: 2px solid $theme-color;
                        width: 85px;
                        height: 85px;
                        border-radius: 50%;
                        content: "";
                    }
                }
            }

            .counter-content {
                background-color: #f4f4f4;
                padding: 15px;
                min-width: 230px;
                justify-content: center;

                .content-2 {
                    @include flex;
                    gap: 20px;
                    border-style: solid;
                    border-width: 2px;
                    border-image-source: linear-gradient(to left, #ed3b3b, #171717);
                    border-image-slice: 1;
                    background-color: #fff;
                    padding: 20px 30px;
                }

                h2 {
                    font-size: 50px;
                    font-weight: 600;
                }

                p {
                    font-size: 16px;
                    color: $text-color;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
    }
}

.about-wrapper-3 {
    @include breakpoint (max-xxs){
        margin-bottom: -20px;
    }

    &.style-border {
        border-bottom: 1px solid #d7d7d7;
        padding-bottom: 120px;

        @include breakpoint (max-xl){
            padding-bottom: 100px;
        }

        @include breakpoint (max-lg){
            padding-bottom: 80px;
        }
    }

    .about-image {
        position: relative;

        img {
            @include imgw;
        }

        .border-shape {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -15%;

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .about-image-2 {
            position: absolute;
            bottom: 0;
            left: -38%;

            @include breakpoint (max-xl){
                left: 0;
            }

            @include breakpoint (max-sm){
                max-width: 200px;
            }
        }
    }

    .about-image-3 {
        img {
            @include imgw;
        }
    }

    .about-content {
        margin-left: 50px;

        @include breakpoint (max-xl){
           margin-left: 0;
        }

        b {
            color: $theme-color;
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .about-icon-items {
            @include flex;
            justify-content: space-between;
            margin-top: 30px;

            @include breakpoint (max-xl){
               flex-wrap: wrap;
               gap: 30px;
            }

            .about-icon {
                @include flex;
                gap: 20px;

                .icon {
                    width: 80px;
                    height: 80px;
                    line-height: 80px;
                    border-radius: 50px;
                    text-align: center;
                    background-color: $theme-color;
                    @include transition
                }

                .content {
                    h4 {
                        font-weight: 600;
                    }
                }

                &:hover {
                    .icon {
                        background-color: $header-color;
                    }
                }
            }
        }

        .about-btn {
            @include flex;
            gap: 30px;
            margin-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
            }

            .text {
                span {
                    color: #808080;
                    font-size: 14px;
                }
            }
        }
    }
}

.best-company-wrapper {
    margin-top: -10px;
    //margin-bottom: 60px;

    .best-company-content {
        margin-top: 110px;

        @include breakpoint (max-xl){
            margin-top: 100px;
        }

        @include breakpoint (max-lg){
            margin-top: 80px;
        }

        .check-list {
            @include flex;
            gap: 20px;
            margin-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            li {
                background-color: #f4f4f4;
                padding: 16px 30px;
                text-transform: uppercase;
                font-size: 18px;
                font-family: $heading-font;
                color: $header-color;
                font-weight: 500;

                i {
                    color: $theme-color;
                    margin-right: 7px;
                }
            }
        }

        .text {
            max-width: 520px;
            font-weight: 500;
            margin-top: 30px;
        }

        .list-items {
            margin-top: 30px;

            li {
                @include flex;
                gap: 20px;

                &:not(:last-child){
                    margin-bottom: 40px;
                }

                .icon {
                    width: 47px;
                    height: 47px;
                    line-height: 47px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $theme-color;
                    color: $white;
                    font-size: 18px;
                    @include transition
                }

                .content {
                    h4 {
                        font-weight: 600;
                    }

                    p {
                        font-weight: 500;
                        margin-top: 5px;
                    }
                }

                &:hover {
                    .icon {
                        background-color: $header-color;
                    }
                }
            }
        }
    }

    .best-company-image {
        margin-right: -25px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        img {
            @include imgw;
            margin-top: -10px;

            @include breakpoint (max-xl){
                margin-top: 0;
            }
        }

        &::before {
            @include before;
            background-color: $theme-color;
            z-index: -1;
            left: -60px;
            height: calc(100% + 70px);
            width: calc(100% - 37%);

            @include breakpoint (max-xl){
                display: none;
            }
        }

        .video-btn {
            display: inline-block;
            width: 115px;
            line-height: 115px;
            background-color: $theme-color;
            color: $white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: 20px;
            @include transition;

            &:hover {
                background-color: $header-color;
            }
        }

        .text-shape {
            position: absolute;
            top: 50px;
            left: -40px;

            @include breakpoint (max-xl){
                display: none;
            }

            img {
                width: initial;
                height: initial;
            }
        }
    }
}

.about-section-2 {
    position: relative;

    &::before {
        @include before;
        background-color: #f4f4f4;
        width: 30%;
        height: 45%;

        @include breakpoint (max-xl){
           display: none;
        }
    }
}