
.theme-btn {
    background-color: $theme-color;
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    padding: 24px 50px;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    line-height: 1;
    letter-spacing: 0.1em;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;

    &::before {
        content: "";
        background-color: $header-color;
        width: 0;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: -1;
    }

    &::after {
        content: "";
        background-color: $header-color;
        width: 0;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: -1;
    }

    &:hover {
       color: $white;

        &::before,&::after {
            width: 100%;
        }
    }
}

.link-btn {
    text-transform: uppercase;
    color: $text-color;
    font-weight: 500;
    display: inline-block;
    font-size: 12px;

    i {
        margin-right: 5px;
    }

    &:hover {
        color: $header-color;
    }

}