.contact-wrapper {

    .faq-content {
        padding: 120px 0;
        margin-right: 30px;

        @include breakpoint (max-xl){
            margin-right: 0;
            padding: 100px 0;
        }

        @include breakpoint (max-lg){
           padding: 80px 0;
        }

        .form-clt {

            input,textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: $white;
                padding: 16px 20px;
                font-size: 14px;
                font-weight: 400;
                color: $text-color;
                text-transform: capitalize;

                &::placeholder {
                    color: #777777;
                }
            }

            textarea {
                padding-bottom: 100px;
                resize: none;
            }
        }
    }

    .faq-image {
        margin-right: -390px;

        @include breakpoint (max-lg){
           display: none;
        }

        img {
            @include imgw;
        }
    }
}

.contact-wrapper-2 {

    .contact-content {
        padding: 51px 60px;
        background-repeat: initial;

        @include breakpoint (max-lg){
            padding: 40px 30px;
        }
       
        &.bg-cover {
            background-size: initial;
        }
        .form-clt {

            input,textarea {
                width: 100%;
                outline: none;
                border: none;
                background-color: $white;
                padding: 16px 20px;
                font-size: 14px;
                font-weight: 400;
                color: $text-color;

                &::placeholder {
                    color: $text-color;
                }
            }

            textarea {
                padding-bottom: 100px;
                resize: none;
            }
        }
    }

    .contact-image {
        position: relative;

        img {
            @include imgw;
        }

        .video-btn {
            width: 100px;
            height: 100px;
            line-height: 100px;
            text-align: center;
            background-color: $theme-color;
            color: $white;
            bottom: 0;
            right: 0;
            position: absolute;
            font-size: 22px;

            &:hover {
                background-color: $header-color;
            }
            

            @include breakpoint (max-md){
                width: 30px;
                height: 30px;
                line-height: 30px;
                font-size: 18px;
            }
        }
    }

    .contact-box {
        margin-top: 30px;
        background-color: $theme-color;
        padding: 60px 60px;
        text-align: center;
        position: relative;

        .bg-shape {
            position: absolute;
            right: 0;
            bottom: 0;
            opacity: .1;
        }

        .icon {
            margin-bottom: 20px;
            position: relative;
            z-index: 9;
            @include transition;
        }

        .content {
            position: relative;
            z-index: 9;

            h3 {
                color: $white;
                font-weight: 600;
            }
        }

        &.style-2 {
            background-color: $header-color;
            @include transition;

            &:hover {
                background-color: $theme-color;

                .icon {
                    filter: grayscale(100%) brightness(300%);
                }
            }
        }
    }
}

.map-items {
    .googpemap {
        iframe {
            width: 100%;
            height: 490px;
        }
    }
}

.map-items-2 {
    .googpemap {
        iframe {
            width: 100%;
            height: 485px;
        }
    }

    .map-contact-info-wrapper {
        background-color: $white;
        position: relative;
        padding: 45px 50px;
        @include flex;
        justify-content: space-between;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        border-top: 10px solid $theme-color;
        margin-top: -80px;
        z-index: 9;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
        }

        .icon-items {
            @include flex;
            gap: 20px;

            .content {
                p {
                    text-transform: uppercase;
                    font-family: $heading-font;
                }

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        .social-icon {
            gap: 10px;
            position: relative;
            z-index: 9;

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                display: block;
                background: #f4f4f4;
                color: $header-color;
                border-radius: 50%;
                -webkit-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
                text-align: center;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.contact-form-123 {
    .form-clt {
        input,textarea {
            border: none;
            outline: none;
            line-height: 1;
            padding: 22px 30px;
            background-color: #f4f4f4;
            width: 100%;
            text-transform: capitalize;
            color: $text-color;
        }

        textarea {
            padding-bottom: 130px;
        }
    }
}