.footer-widgets-wrapper {
    padding: 70px 0 100px;

    @include breakpoint (max-lg){
        padding: 50px 0 80px;
    }

    .single-footer-widget {
        margin-top: 30px;

        .widget-head {
            margin-bottom: 30px;

            h3 {
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1.8px;
                color: $white;
            }
        }

        .footer-content {
            .footer-sub-title {
                font-size: 22px;
                color: $theme-color;
                font-weight: 400;
            }

            .social-icon {
                margin-top: 40px;
                gap: 10px;
                position: relative;
                z-index: 9;

                @include breakpoint (max-sm){
                    margin-top: 20px;
                }
    
                a {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: #2a2a2a;
                    color: $white;
                    border-radius: 50%;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;
    
                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }

            .footer-input {
                position: relative;
                margin-bottom: 25px;

                input {
                    width: 100%;
                    border: none;
                    background-color: $white;
                    color: $text-color;
                    position: relative;
                    padding: 20px;
                    text-transform: capitalize;
                    line-height: 1;

                    &::placeholder {
                        color: $text-color;
                    }
                }

                .newsletter-button {
                    position: absolute;
                    right: 4px;
                    top: 10px;
                    bottom: 4px;
                    color: $theme-color;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    font-size: 14px;
                    color: $white;
                    background-color: $theme-color;
                }
            }

            .footer-contact {
                li {
                    font-size: 15px;
                    font-weight: 500;

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }

                    a {
                        color: $white;
                    }

                    i {
                        color: $theme-color;
                        margin-right: 10px;
                    }
                }
            }
        }

        .footer-gallery {
            .gallery-wrap {
                .gallery-item {
                    @include flex;
                    gap: 10px;
    
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
    
                    .thumb {
                        position: relative;
                        width: 100px;
    
                        img {
                            @include imgw;
                        }
    
                        .icon {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                            text-align: center;
                            transition: .3s;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
    
                            &::after{
                                position: absolute;
                                content: "";
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: rgba(237, 59, 59, .85);
                                transition: .4s;
                                opacity: 0;
                                width: 100%;
                                height: 100%;
                            }
    
                            i {
                                color: $white;
                                font-size: 22px;
                                z-index: 99;
                                position: relative;
                                margin-top: 30px;
                            }
                        }
    
                        &:hover {
                            .icon {
                                opacity: 1;
                                &::after {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .list-area {
            li {
                font-weight: 500;
                &:not(:last-child){
                    margin-bottom: 15px;
                }

                a {
                    color: #727272;
                    position: relative;

                    &::before {
                        position: absolute;
                        top: 8px;
                        left: 0;
                        width: 6px;
                        height: 6px;
                        content: "";
                        border-radius: 50%;
                        background-color: $theme-color;
                        opacity: 0;
                        visibility: hidden;
                        @include transition;
                    }

                    &:hover {
                        padding-left: 20px;
                        color: $theme-color;

                       &::before {
                         opacity: 1;
                         visibility: visible;
                       }
                    }
                }
            }
        }
    }
}

.footer-bottom {
    padding-bottom: 40px;

    .footer-wrapper {
        background-color: #0e0e0e;
        text-align: center;
        padding: 35px 0;
        border-top: 2px solid $theme-color;
    }
}