.hero-1 {
    position: relative;

    // &::before {
    //     @include before;
    //    background-color: #8d2e2d;
    // }

    .slider-shape {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 0;

        img {
            height: 100%;
        }

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .bg-shadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        img {
            @include imgw;
        }
    }

    .slider-bg {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;

        &::before {
            @include before;
            background-color: rgba(0, 0, 0, 0.7);
        }
    }

    .overlar-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .hero-content {
        padding: 320px 0 220px;
        position: relative;

        @include breakpoint (max-xl){
          padding: 260px 0 200px;
        }

        @include breakpoint (max-lg){
            padding: 190px 0 190px;
        }

        @include breakpoint (max-md){
            text-align: center;
            padding: 150px 0 150px;
        }

        h6 {
            color: #FFFFFF99;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-left: 205px;
            margin-bottom: 10px;

            @include breakpoint (max-xl){
               margin-left: 0;
            }
        }

        h1 {
            color: $white;
            line-height: 85%;
            text-transform: uppercase;
            margin-bottom: 50px;

            @include breakpoint (max-xl){
               line-height: 110%;
            }

            @include breakpoint (max-xl){
                font-size: 90px;
            }

            @include breakpoint (max-md){
                font-size: 80px;
                margin-bottom: 40px;
            }

            @include breakpoint (max-sm){
               font-size: 56px;
               margin-bottom: 30px;
            }
        }
    }
}

.hero-section-1 {
    position: relative;

    .swiper-slide-active .slider-bg {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    .array-button {
        position: absolute;
        @include flex;
        justify-content: space-between;
        z-index: 99;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        @include breakpoint (max-lg){
            display: none;
        }

        .array-prev,.array-next {
            width: 75px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            
        }

        .array-prev {
            background-color: $white;
            color: $header-color;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        .array-next {
            background-color: $black;
            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}

.hero-2 {
    position: relative;

    .array-button {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        @include flex;
        justify-content: space-between;
        z-index: 99;

        @include breakpoint (max-lg){
            display: none;
        }

        .array-prev,.array-next {
            width: 75px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            
        }

        .array-prev {
            background-color: $white;
            color: $header-color;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        .array-next {
            &:hover {
                background-color: $header-color;
                color: $white;
            }
        }
    }
  
    .swiper-slide-active .hero-image {
        -webkit-transform: scale(1.12);
        -moz-transform: scale(1.12);
        transform: scale(1.12);
    }

    .hero-image {
        overflow: hidden;
        position: absolute !important;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: -2;
        background-size: cover;
        transform: scale(1);
        -webkit-transition: all 8s ease-out 0s;
        -moz-transition: all 8s ease-out 0s;
        -ms-transition: all 8s ease-out 0s;
        -o-transition: all 8s ease-out 0s;
        transition: all 8s ease-out 0s;

        &::before {
            @include before;
            background-color: $black;
            opacity: .7;
        }

    }

    .overlay-shape {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .border-shape {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        opacity: .2;

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .right-shape {
        position: absolute;
        bottom: 0;
        right: -10px;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .hero-content {
        padding: 170px 0;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            padding: 160px 0;
        }

        @include breakpoint (max-md){
            padding: 130px 0;
        }

        .icon {
            margin-bottom: 25px;
        }

        h5 {
            font-size: 20px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 500;
            letter-spacing: 2px;

            @include breakpoint (max-sm){
                font-size: 18px;
            }
        }

        h1 {
            font-size: 110px;
            font-weight: 700;
            line-height: 92%;

            @include breakpoint (max-xl){
                font-size: 100px;
            }

            @include breakpoint (max-lg){
                font-size: 80px;
                margin-top: 10px;
            }

            @include breakpoint (max-md){
                font-size: 60px;
                margin-top: 15px;
            }

            @include breakpoint (max-sm){
                font-size: 42px;
            }
        }

        .cta-button {
            margin-top: 45px;

            @include breakpoint (max-sm){
                margin-top: 30px;
            }
        }
    }
}

.hero-3 {
    .slider-bg {
        background-position: initial !important;
        position: relative;
        z-index: 9;
        
        @include breakpoint (max-xxl){
            background-position: right !important;

            &::before {
                @include before;
                background-color: $black;
                opacity: .5;
            }
        }
    }

    .slider-shape {
        position: absolute;
        top: 0;
        left: -110px;
        bottom: 0;

        @include breakpoint (max-xxl){
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .hero-content {
        padding: 180px 0 180px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-md){
           text-align: center;
           padding: 130px 0;
        }

        h6 {
            font-size: 20px;
            font-weight: 500;
            color: $text-color;
            text-transform: uppercase;
        }

        h1 {
            color: $white;
            margin-bottom: 42px;
            line-height: 92%;

            @include breakpoint (max-xl){
                font-size: 100px;
                margin-top: 15px;
            }

            @include breakpoint (max-lg){
                font-size: 80px;
            }

            @include breakpoint (max-md){
                font-size: 60px;
            }

            @include breakpoint (max-sm){
                font-size: 42px;
            }
        }
    }
}

.hero-section-3 {
    position: relative;

    .array-button {
        position: absolute;
        @include flex;
        z-index: 99;
        bottom: 0;

        @include breakpoint (max-lg){
            display: none;
        }

        .array-prev,.array-next {
            width: 75px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            
        }

        .array-prev {
            background-color: $white;
            color: $header-color;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }

        .array-next {
            background-color: $black;
            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}