.project-card-items {
    margin-top: 30px;

    .project-image {
        position: relative;
        overflow: hidden;

        @include breakpoint (max-sm){
            height: 450px;
        }

        &::before {
            @include before;
            background: rgba(23,23,23,.5);
        }

        img {
            @include imgw;
            object-fit: cover;
        }

        .project-content {
            @include flex;
            gap: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 45px 45px;

            @include breakpoint (max-md){
                padding: 25px;
            }

            &::before {
                @include before;
                background-color: $theme-color;
                opacity: 0;
                visibility: hidden;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                @include transition;
            }

            span {
                font-size: 60px;
                color: rgba(255,255,255,.2);
                font-weight: 600;
            }

            .content {

                h6 {
                    font-size: 12px;
                    color: $white;
                    letter-spacing: 1.2px;
                }

                h3 {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    &:hover {

        .project-image {

            .project-content {

                span {
                    color: $white;
                    z-index: 1;
                }
                .content {
                    color: $white;
                    z-index: 1;
                }

                &:before{
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.project-section {
    position: relative;

    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        img {
            @include imgw;
        }
    }
}

.project-image-items {
    margin-top: 30px;
    position: relative;
    overflow: hidden;

    img {
        @include imgw;
    }

    &::before {
        @include before;
        background-color: rgb(237, 59, 59);
        top: 20px;
        bottom: 20px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        @include transition;
        opacity: 0;
        visibility: hidden;
    }

    .icon {
        display: inline-block;
        background-color: $white;
        color: $header-color;
        width: 75px;
        height: 75px;
        line-height: 75px;
        text-align: center;
        position: absolute;
        top: -100px;
        right: 20px;
        font-size: 20px;
        @include transition;
        opacity: 0;
        visibility: hidden;

        &:hover {
            background-color: $header-color;
            color: $white;
        }
    }

    .content {
        position: absolute;
        bottom: -150px;
        left: 50px;
        @include transition;
        opacity: 0;
        visibility: hidden;

        p {
            font-weight: 600;
            color: $white;
            font-size: 14px;
            font-family: $heading-font;
            text-transform: uppercase;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;

            a {
                color: $white;
            }
        }
    }

    &:hover {
        &::before {
            opacity: 0.902;
            visibility: visible;
        }
        .content {
            opacity: 1;
            visibility: visible;
            bottom: 50px;
        }

        .icon {
            opacity: 1;
            visibility: visible;
            top: 20px;
        }
    }
}

.project-card-items-2 {
    margin-top: 30px;

    .project-image {
        overflow: hidden;
        position: relative;
        @include transition;
        display: block;


        img {
            @include imgw;
        }

        .project-content {
            padding: 40px;
            background: rgba(23,23,23,.9);
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            @include transition;
            width: 300px;

            h3 {

                a {
                    color: $white;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            span {
                color: #df3939;
                font-size: 12px;
            }

            .icon {
                position: absolute;
                right: 0;
                top: -26px;
                width: 45px;
                height: 45px;
                line-height: 45px;
                background-color: $theme-color;
                color: $white;
                display: inline-block;
                text-align: center;
                font-size: 18px;
            }
        }
    }

    &:hover {

        .project-image {

            .project-content {
                visibility: visible;
                opacity: 1;
                bottom: 0;
            }
        }
    }
}

.project-section-3 {
   
    .container-fluid {
        padding: 0 60px;

        @include breakpoint (max-xxxl){
            padding: 0 50px;
        }

        @include breakpoint (max-xxl){
            padding: 0 40px;
        }

        @include breakpoint (max-xl){
            padding: 0 30px;
        }
    }
}

.project-details-wrapper {
    .details-image {
        img {
            @include imgw;
        }
    }

    .project-information {
        padding: 45px 40px;
        background-color: $white;
        border-top: 10px solid $theme-color;
        margin: 0 auto;
        max-width: 1050px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
        margin-top: -50px;
        position: relative;
        z-index: 9;
        @include flex;
        justify-content: space-between;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            gap: 30px;
            padding: 30px;
            justify-content: start;
        }

        ul {
            @include flex;
            gap: 60px;
            justify-content: center;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                gap: 30px;
                justify-content: start;
            }

            li {
                font-family: $heading-font;
                font-size: 18px;
                color: $header-color;
                font-weight: 600;
                text-transform: uppercase;

                span {
                    font-size: 16px;
                    font-family: $heading-font;
                    display: block;
                    font-weight: 500;
                    color: $text-color;
                }
            }
        }

        .social-icon {
            gap: 12px;
    
            a {
                width: 42px;
                height: 42px;
                line-height: 42px;
                background-color: #f4f4f4;
                color: $header-color;
                text-align: center;
                border-radius: 50%;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }


    }

    .project-content {
        margin-top: 30px;

        h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 24px;
            font-weight: bold;
            font-family: $body-font;
            color: $theme-color;
            text-transform: capitalize;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        .details-list {
            @include flex;
            gap: 30px;
            margin-top: 30px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
            }

            ul {
                li {
                    font-weight: 700;
                    color: $header-color;

                    &:not(:last-child){
                        margin-bottom: 14px;
                    }

                    i {
                        margin-right: 10px;
                        color: $theme-color;
                    }
                }
            }
        }
    }

    .slider-button {
        border-top: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
        margin-top: 65px;
        padding: 25px 0;
        
        .cmn-next,
        .cmn-prev {
            width: 70px;
            height: 70px;
            line-height: 75px;
            text-align: center;
            border-radius: 50%;
            transition: all 0.4s;
            background-color: #f4f4f4;
    
            i {
                color: #454750;
                font-size: 24px;
                transition: all 0.4s;
            }
            &:hover {
                background: $theme-color;
                border-color: $theme-color;
    
                i {
                    color: $white;
                }
            }
            @include breakpoint(max-xxl) {
                width: 48px;
                height: 48px;
                line-height: 48px;
    
                i {
                    font-size: 17px;
                }
            }
            @include breakpoint(max-xxl) {
                width: 38px;
                height: 38px;
                line-height: 38px;
    
                i {
                    font-size: 16px;
                }
            }
        }
        .previus-text {
            font-size: 18px;
            color: $header-color;
            text-transform: uppercase !important;
            font-family: $heading-font;
            font-weight: 600 !important;
        }
       
        @include breakpoint(max-sm) {
            .previus-text {
                font-size: 18px;
            }
            .project-storke {
                font-size: 30px;
            }
        }
        @include breakpoint(max-sm) {
            .previus-text {
                font-size: 16px;
            }
            .project-storke {
                font-size: 24px;
            }
        }
        @include breakpoint(max-xxs) {
            .previus-text {
                font-size: 14px;
            }
            .project-storke {
                display: none;
            }
        }
    }
}