.section-padding {
    padding: 120px 0;

    @include breakpoint (max-xl){
        padding: 100px 0;
    }

    @include breakpoint (max-lg){
        padding: 80px 0;
    }
}

.section-title {
    margin-bottom: 20px;
    margin-top: -7px;
    
    span {
       font-size: 18px;
       font-weight: 600;
       color: $theme-color;
       position: relative;
       display: inline-block;
       margin-bottom: 10px;

       &::before {
        content: "//";
        display: inline-block;
        margin-right: 5px;
       }
    }
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	margin-bottom: 30px;

	@include breakpoint (max-md) {
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 0;
		justify-content: center;
		text-align: center;
	}

	.section-title {
		margin-bottom: 0;
	}

}