.team-card-items {
    margin-top: 60px;
    position: relative;

    .bg-image {
        position: absolute;
        right: -30px;
        top: -30px;
        z-index: -1; 

        img {
            @include imgw;
        }
    }

    .team-image {
        //max-width: 310px;
        position: relative;
        padding-top: 30px;
        padding-right: 30px;

        img {
            @include imgw;
        }

        &::before {
            content: "";
            position: absolute;
            top: -30px;
            right: -30px;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: url(../../assets/img/team/bg-shape.png) no-repeat calc(100% - 30px) 30px #f4f4f4;
        }
    }

    .team-content {
        background-color: $white;
        padding: 20px;
        margin-top: -50px;
        position: relative;
        //max-width: 88%;

        .social-profile{
            position: absolute;
            right: 30px;
            bottom: 30px;
            content: "";
            transition: all 0.4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;
  
            ul{
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                transition: all 0.6s ease-in-out;

                li{
                    a{
                        width: 50px;
                        height: 50px;
                        background:$white;
                        display: block;
                        color: $header-color;
                        text-align: center;
                        line-height: 50px;
                        @include transition;

                        &:hover {
                            background-color: $theme-color;
                            color: $white;
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .share-btn{
                width: 50px;
                height: 50px;
                background:$white;
                display: inline-block;
                color: $header-color;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                @include transition;
            }

            &:hover {
                
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.team-box-items {
    margin-top: 30px;

    .thumb {
        position: relative;

        img {
            @include imgw;
            // position: relative;
            // z-index: 9;
        }

        &::after {
            content: "";
            position: absolute;
            top: -35px;
            right: 0px;
            width: 9%;
            height: 100%;
            background-image: linear-gradient(-45deg, rgba(237, 59, 59, .3) 0 0%, rgba(255, 255, 255, 0) 40% 0%);
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            // z-index: -1;
            opacity: 0;
        }
    }

    .content {
        background-color: $white;
        padding: 20px;
        margin-top: -80px;
        position: relative;
        //max-width: 88%;
        margin-right: 60px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        span {
            font-size: 14px;
            text-transform: uppercase;
            font-family: $heading-font;
        }

        h3 {
            font-weight: 600;
            &:hover {
                color: $theme-color;
            }
        }

        .social-profile{
            position: absolute;
            right: 10px;
            bottom: 20px;
            content: "";
            transition: all 0.4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;
            cursor: pointer;
  
            ul{
                opacity: 0;
                visibility: hidden;
                transition: all 0.6s ease-in-out;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    left: 50%;
                    bottom: -5px;
                    border-top: 5px solid $theme-color;
                    border-right: 7px solid transparent;
                    border-left: 7px solid transparent;
                    margin-left: -7px;
                    z-index: 99;
                }

                li{
                    a{
                       padding: 7px 10px;
                        background-color: $theme-color;
                        color: $white;
                        display: block;
                        text-align: center;
                        @include transition;

                        &:hover {
                           
                            transform: translateY(0);
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .share-btn{
                width: 50px;
                height: 50px;
                background:$white;
                display: inline-block;
                color: $header-color;
                text-align: center;
                line-height: 50px;
                cursor: pointer;
                @include transition;
                border-left: 1px solid #d7d7d7;
                padding-left: 5px;
            }

            &:hover {
                .share-btn {
                    color: $theme-color;
                }
                ul {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &:hover {
        .thumb {
            &::after {
                opacity: 1;
            }
        } 
    }
}