.testimonial-wrapper {
    .testimonial-content {
        position: relative;

        p {
            max-width: 250px;
            margin-top: 35px;
            position: relative;
            z-index: 9;
        }

        .circle-shape {
            position: absolute;
            bottom: 50px;
            right: 30px;

            @include breakpoint (max-xl){
                display: none;
            }

            .animation-circle {
                animation: cir36 10s linear infinite;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        .array-button {
            margin-top: 30px;

            .array-next,.array-prev {
                width: 55px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                border-radius: 50%;
                background-color: $white;
                text-align: center;
                color: $header-color;
                @include transition;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }

    .testimonial-right-wrapper {
        margin-right: -30%;

        @include breakpoint (max-xl){
            margin-right: 0;
        }

        .testimonial-box-items {
            .content {
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
                padding: 40px;
                position: relative;

                .star {
                    color: $theme-color;
                    margin-bottom: 15px;
                }

                .bar-shape {
                    position: absolute;
                    bottom: -26px;
                    left: 0;
                    right: 0;

                    img {
                        @include imgw;
                    }
                }
            }

            .client-info {
                @include flex;
                gap: 20px;
                margin-top: 30px;

                .client-content {
                    h3 {
                        font-size: 22px;
                        font-weight: 500;
                    }

                    span {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.testimonial-section-2 {
    background-color: rgb(244, 244, 244);
}

.testimonial-wrapper-2 {
    position: relative;

    .client-shape-image {
        position: absolute;
        right: -11%;
        top: -20px;
    }

    .testimonial-content {
        position: relative;
        z-index: 9;

        p {
            font-weight: 500;
        }
    }

    .testimonial-right-items {
        position: relative;
        .icon {
            width: 105px;
            height: 105px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: $theme-color;
            border-radius: 0 0 0 100%;
            font-size: 42px;
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding-left: 20px;
        }

        .content {
            padding: 60px;
            background-color: $white;
            position: relative;
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .07);

            @include breakpoint (max-lg){
                padding: 50px;
            }

            @include breakpoint (max-md){
                padding: 40px;
            }

            @include breakpoint (max-sm){
                padding: 30px;
            }

            .star {
                color: $theme-color;
                margin-bottom: 15px;
            }

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 38px;

                @include breakpoint (max-md){
                    font-size: 18px;
                }

                @include breakpoint (max-sm){
                    font-size: 16px;
                }
            }

            .testimonial-one__arrow {
                display: inline-block;
                width: 146px;
                height: 50px;
                position: absolute;
                top: 100%;
                left: 60px;

                .first {
                    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
                    clip-path: polygon(0 0, 0% 100%, 100% 0);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: -2px;
                    background: #fff;
                    z-index: 9;
                }

                .second {
                    position: absolute;
                    left: 0;
                    right: -4px;
                    bottom: -4px;
                    top: 0;
                    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
                    clip-path: polygon(0 0, 0% 100%, 100% 0);
                    background: $theme-color;
                    z-index: 1;
                }
            }
        }

        .client-info {
            margin-left: 160px;
            margin-top: 20px;
            @include flex;
            gap: 20px;

            @include breakpoint (max-sm){
               margin-left: 130px;
               position: relative;
               z-index: 9;
            }

            .client-img {
                width: 90px;
                height: 90px;
                line-height: 82px;
                text-align: center;
                border: 2px solid $theme-color;
                border-radius: 50%;
            }

            .client-content {

                h4 {
                    font-size: 22px;
                    font-weight: 500;
                }

                span {
                    font-size: 15px;
                    text-transform: uppercase;
                    font-family: $heading-font
                }
            }
        }
    }
}

.testimonial-wrapper-3 {

    .testimonial-image {
        position: relative;
        margin-top: -2px;
        img {
            @include imgw;
        }

        .icon {
            width: 70px;
            height: 70px;
            line-height: 70px;
            border-radius: 50px;
            text-align: center;
            background-color: $theme-color;
            top: 50%;
            left: 50%;
            position: absolute;
            transform: translate(-50%,-50%);

            img {
                width: initial;
                height: initial;
            }
        }
    }

    .testimonial-content {
        margin-left: 70px;
        padding-top: 120px;

        @include breakpoint (max-xl){
            margin-left: 30px;
            padding-top: 100px;
        }

        @include breakpoint (max-lg){
            margin-left: 0;
            padding-top: 30px;
        }

        .testimonial-card-items {
            margin-top: 20px;

            .star {
                display: inline-block;
                margin-bottom: 15px;
        
                i {
                    color: $theme-color;
                }
            }

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 1.8;
                color: $text-color;
            }

            .client-info {
                @include flex;
                gap: 20px;
                margin-top: 40px;

                .text {
                    h3 {
                        font-size: 22px;
                    }

                    span {
                        font-size: 15px;
                        color: $text-color;
                    }
                }
            }
        }
    }

    .tesimonial-image-araa {
        position: relative;

        .array-button {
            @include flex;
            gap: 10px;
            justify-content: end;
            margin-top: 20px;

            @include breakpoint (max-lg){
               display: none;
            }

            .array-prev,.array-next {
                width: 75px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                box-shadow: none;
                
            }
    
            .array-prev {
                background-color: #f4f4f4;
                color: $header-color;
    
                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
    
            .array-next {
                background-color: $black;
                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }
    }
}

.testimonial-section-3 {
    position: relative;

    &::before {
        @include before;
        background: $theme-color;
        width: 35%;
        height: 84%;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}